@page "/education"
@inject HttpClient Http

<PageTitle>Formação</PageTitle>

<div class="section">

    <section id="title">

        <h2>Diplomas</h2>

        <div id="titleContainer">
            @if (_titles == null)
            {
                    <p><em>Carregando...</em></p>
            }
            else
            {
                @foreach (var title in _titles)
                {
                            <a href="@title.Link" target="_blank">
                                <div class="titleContainer-card">
                                    <img class="titleContainer-l" src="@title.Cover" alt="Logo @title.Acronym" title="Logo @title.Acronym">

                                    <div class="titleContainer-r">
                                        <div class="titleContainer-r-header">
                                            <h3>@title.Name</h3>
                                            <i><b>@title.Acronym</b> - @title.Institution</i>
                                        </div>
                                        <p>@title.Description</p>
                                    </div>
                                </div>
                            </a>
                }
            }
        </div>

    </section>

    <section id="certs">
        <h2>Certificados</h2>

        <div id="certsContainer">
            @if (_certs == null)
            {
                    <p><em>Carregando...</em></p>
            }
            else
            {
                @foreach (var cert in _certs)
                {
                            <a class="certCard" href="@cert.Link" target="_blank">
                                <img class="certCard-cover" src="@cert.Cover" alt="Logo @cert.Name" title="Logo @cert.Name" />
                                <span>@cert.Name</span>
                            </a>
                }
            }
        </div>
    </section>

</div>
